* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgba(230, 0, 0, 0.849);
}

html, body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

html{
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: transparent;
}


footer{
    background-color: #111;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}

h1{
    font-size: 30px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 20px 0 10px 0;
    font-size: 1.1rem;
}

section{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
}

.btn:hover{
    transform: scale(0.98);
}

.logo{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
    background: #fff;
}

.toggle{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 20px;
    width: 50px;
    height: 50px;
    background: var(--primary-color) url(images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    z-index: 20;
    cursor: pointer;
    border: 0;
}

.toggle:hover{
    transform: scale(0.98);
}

.toggle.active{
    background: var(--primary-color)
    url(images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.navigation {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active{
    left: 0;
}

.navigation ul{
    position: relative;
}

.navigation ul li{
    position: relative;
    list-style: none;
    text-align: center;
}

.navigation ul li a{
    font-size: 3rem;
    color: #111;
    text-decoration: none;
    font-weight: 300;
}

.navigation ul li a:hover{
    color: var(--primary-color);
}

.navigation .social-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .social-bar a{
    display: inline-block;
    transform: scale(0.5);
}

.navigation .email-icon{
    position: absolute;
    bottom: 20px;
    transform: scale(0.5);
}

.home-content{
    z-index: 10;
    max-width: 300px;
    position: relative;
}

.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}

.title{
    position: absolute;
    top: 120px;
    left: 40px;
}

.contact{
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media(max-width: 1068px){
    .home-img{
        display: none;
    }

    .logo{
        top: 10px;
        left: 40px;
        font-size: 1.5rem;
    }

    section{
        padding: 100px 40px;
    }

    .navigation ul li a{
        font-size: 2rem;
    }
}